<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forums.admin.mapper.ShouCangMapper">

    <resultMap type="com.forums.model.pojo.ShouCang" id="ShouCangResult">
        <id property="cid"    column="did"    />
        <result property="uid"    column="uid"    />
        <result property="tid"    column="tid"    />
        <result property="createTime" column="create_time"  />
        <collection property="wenZhang" ofType="com.forums.model.pojo.WenZhang">
            <id property="tid"    column="tid"    />
            <result property="uid"    column="uid"    />
            <result property="sid"    column="sid"    />
            <result property="biaoTi"    column="biaoti"    />
            <result property="jianjie" column="jianjie"/>
            <result property="neiRong"    column="neirong"    />
            <result property="createTime"    column="createtime"    />
            <result property="updateTime"    column="updatetime"    />
            <result property="tShou"    column="tstart"    />
            <result property="tStart"    column="tshou"    />
        </collection>
        <collection property="user" ofType="com.forums.model.pojo.User">
            <id property="uid"    column="uid"    />
            <result property="username"    column="username"    />
            <result property="password"    column="password"    />
            <result property="password"    column="password"    />
            <result property="email"    column="email"    />
            <result property="createTime"    column="createtime"    />
            <result property="headImage"    column="headimage"    />
            <result property="isDelete"    column="isdelete"    />
            <result property="salt"    column="salt"    />
            <result property="age"    column="age"    />
            <result property="gender"    column="gender"    />
            <result property="hobby"    column="hobby"    />
            <result property="job"    column="job"    />
            <result property="motto"    column="motto"    />
        </collection>
    </resultMap>

    <select id="selectShouCangList" resultMap="ShouCangResult" parameterType="java.lang.String">
        SELECT wenzhang.tid,wenzhang.biaoti,wenzhang.jianjie,wenzhang.neirong,
               userinfo.uid,userinfo.username,userinfo.headimage,shoucang.create_time
        FROM wenzhang,userinfo,shoucang
        WHERE wenzhang.tid in
              (SELECT tid from shoucang WHERE uid = #{uid})
          AND wenzhang.uid=userinfo.uid
            group by wenzhang.tid
    </select>

    <delete id="deleteShouCangWz" parameterType="java.lang.Integer">
        DELETE FROM shoucang WHERE tid = #{tid}
    </delete>

    <select id="getCountS" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shoucang where uid = #{uid} and tid = #{tid}
    </select>
</mapper>